export default {
  defaultTitle: 'Jeserlin',
  titleTemplate: '%s | Jeserlin',
  description: 'This is Jeserlin\'s blog',
  openGraph: {
    type: 'article',
    locale: 'zh_TW',
    description: 'This is Jeserlin\'s blog',
    url: 'https://myblog-jeserlin.vercel.app',
    site_name: 'Jeserlin',
    images: [
      {
        url: 'https://myblog-jeserlin.vercel.app/yuan.png',
        width: 200,
        height: 200,
        alt: 'Jeserlin',
      },
    ],
  },
  twitter: {
    handle: '@handle',
    site: '@site',
    cardType: 'summary_large_image',
  },
};
